{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <div class="row justify_content_center">
        <table class="table col-sm-11 col-12">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Nombre de place</th>
            <th scope="col">Sport</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <th scope="row">{{ event.id }}</th>
                    <td>{{ event.name }}</td>
                    <td>{{ event.numberPlace }}</td>
                    <td>{{ event.description }}</td>
                    <td>
                        <a href="{{ path('event_delete', {'id':event.id})}}" class="btn btn-danger">Supprimer</a>
                        <a href="{{ path('event_edit', {'id':event.id})}}" class="btn btn-primary">Modifier</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
    <a href="{{ path('event_create_page') }}" class="btn btn-primary col-lg-2 col-md-3 col-sm-4 col-6 mb-2">Ajouter un événements</a>
    </div>
</div>
{% endblock body %}
