{% extends "base.html.twig" %}
{% block body %}
    {{ form_start(eventForm) }}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="mb-2">
                    {{ form_row(eventForm.name) }}
                </div>
                <div class="mb-2">
                    {{ form_row(eventForm.numberPlace) }}
                </div>
                <div class="mb-2">
                    {{ form_row(eventForm.date) }}
                </div>
                <div class="mb-2">
                    {{ form_row(eventForm.type) }}
                </div>
                <div class="mb-2">
                    {{ form_row(eventForm.category) }}
                </div>
                <div class="mb-2">
                    {{ form_row(eventForm.sport) }}
                </div>
                <div class="mb-2">
                    {{ form_row(eventForm.image) }}
                </div>
                <div class="mb-2">
                    {{ form_row(eventForm.thumbnail) }}
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="mb-2">
                    {{ form_row(eventForm.description) }}
                </div>
            </div>
            <div class="mb-2 mt-2">
                {{ form_row(eventForm.submit) }}
            </div>
            <div class="mb-2 mt-1">
                <span class="text-danger">* Champs obligatoires</span>
            </div>
        </div>
    </div>
    {{ form_end(eventForm) }}
{% endblock %}