{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row justify_content_center">
        <table class="table col-sm-11 col-12">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categorys %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.label }}</td>
                        <td>
                            <a href="{{ path('category_delete', {'id':category.id})}}" class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
        <a href="{{ path('category_create_page') }}" class="btn btn-primary col-lg-2 col-md-3 col-sm-4 col-6 mb-2">Ajouter une catégorie</a>
    </div>
</div>
{% endblock body %}
