{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row justify_content_center mb-2">
        <div class="table-responsive">
            <table class="table col-sm-11 col-12">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Email</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td class="w-25">{{ user.id }}</th>
                            <td class="w-50">{{ user.email }}</td>
                            <td class="w-25">
                                <a href="{{ path('user_accept', {'id':user.id})}}" class="btn btn-primary mb-sm-0 mb-1">Accepter</a>
                                <a href="{{ path('user_deny', {'id':user.id})}}" class="btn btn-danger">Refuser</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}
