{% extends "base.html.twig" %}
{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_start(studentForm) }}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-12">
                <div class="mb-2">
                    {{ form_row(studentForm.birthDate) }}
                </div>
                <div class="mb-2">
                    {{ form_row(studentForm.firstName) }}
                </div>
                <div class="mb-2">
                    {{ form_row(studentForm.lastName) }}
                </div>
                 <div class="mb-2">
                    {{ form_row(studentForm.category) }}
                </div>
                <div class="mb-2 mt-2">
                    {{ form_row(studentForm.submit) }}
                </div>
                <div class="mb-2 mt-1">
                    <span class="text-danger">* Champs obligatoires</span>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(studentForm) }}
{% endblock %}